
html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
}

.content:not(.custom) {
    max-width: 900px;
}

.content img {
    max-width: 100%;
}

#cards {
    display: grid;
    grid-template-columns: auto auto auto;
}

#cards > a {
    display: block;
    width: 270px;
    padding:10px;
    color: white;
    margin-bottom: 10px;

    background-color: #1f5c88;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    appearance: none;

    b {
        font-weight: bold;
    }

    > div {
        margin: 5px;
        margin-top: 10px;
        background: white;
        border: 1px solid #efefef;
        text-align: center;
        height: 200px;

        img {
            max-height: 200px;
            max-width: 100%;
        }
    }

    > p {
        font-size : 16px ;
        text-align: justify;
    }
}

.wy-nav-content {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 2.5em;
}

* {
    font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:300;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.my-button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.3em 1em;
    margin: 5px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    color: gray;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
    background-color: #f7f7f7;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    appearance: none;
}

.my-button:hover {
    background-color: #f5f5f5;
}

.my-button:visited {
    color: gray;
}

#get-started {
    background-color: #1f883d;
    color: white;
}

#get-started:hover {
    background-color: #1c8139;
}

.wy-nav-content-wrap {
    background-color:#fcfcfc;
}

.wy-nav-side {
    border-right: 1px solid #eeebee;
    background-color:#f5f6fa;
}

.wy-menu-vertical a {
    color: #404040;
}

.wy-side-nav-search {
    background-color: initial;
    margin-bottom: 20px;

    #rtd-search-form {
        border-top: 1px solid #e1e4e5;
        margin-top: 10px;
        padding-top: 20px;
    }

    a {
        color: #404040;
        font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
        font-weight:300;
        font-size :2.25em;
        overflow-wrap: break-word;
    }

    a:before {
        content: "";
    }

}

.wy-menu-vertical li.toctree-l1.current > a {
    border-top : 1px solid #efefef;
    border-bottom : 1px solid #efefef;
}

.wy-side-nav-search input[type=text] {
    border-color: #e1e4e5;
}

.toctree-l1 a:hover {
    background-color:white;
}

.rst-content div[class^=highlight], .rst-content pre.literal-block {
    border: 1px solid #e1e4e5;
    border-radius: 4px;
    padding: 12px;
    background-color: #f8f8f8;
}

.admonition {
    border-left:4px solid #6ab0de;
    border-radius:4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

.rst-content .admonition-title, .wy-alert-title,
.rst-content .note .admonition-title, .rst-content .note .wy-alert-title, .rst-content .seealso .admonition-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .admonition-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
    background-color: initial;
    color:#6ab0de;
    padding:15px;
}

.rst-content .attention, .warning {
    border-left:4px solid #f0ad4e;
}

.rst-content .danger {
    border-left:4px solid #d9534f;

    .admonition-title {
        background-color: initial;
        color:#d9534f;
    }
}

.hint {
    border-left:4px solid #1abc9c;
}

.rst-content .hint .admonition-title, .rst-content .hint .wy-alert-title, .rst-content .important .admonition-title, .rst-content .important .wy-alert-title, .rst-content .tip .admonition-title, .rst-content .tip .wy-alert-title, .rst-content .wy-alert-success.admonition-todo .admonition-title, .rst-content .wy-alert-success.admonition-todo .wy-alert-title, .rst-content .wy-alert-success.admonition .admonition-title, .rst-content .wy-alert-success.admonition .wy-alert-title, .rst-content .wy-alert-success.attention .admonition-title, .rst-content .wy-alert-success.attention .wy-alert-title, .rst-content .wy-alert-success.caution .admonition-title, .rst-content .wy-alert-success.caution .wy-alert-title, .rst-content .wy-alert-success.danger .admonition-title, .rst-content .wy-alert-success.danger .wy-alert-title, .rst-content .wy-alert-success.error .admonition-title, .rst-content .wy-alert-success.error .wy-alert-title, .rst-content .wy-alert-success.note .admonition-title, .rst-content .wy-alert-success.note .wy-alert-title, .rst-content .wy-alert-success.seealso .admonition-title, .rst-content .wy-alert-success.seealso .wy-alert-title, .rst-content .wy-alert-success.warning .admonition-title, .rst-content .wy-alert-success.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-success .admonition-title, .wy-alert.wy-alert-success .rst-content .admonition-title, .wy-alert.wy-alert-success .wy-alert-title {
    background-color: initial;
    color:#1abc9c;
}

.rst-content .attention .admonition-title,
.rst-content .caution .admonition-title,
.rst-content .warning .admonition-title  {
    background-color: initial;
    color:#f0ad4e;
}

.fa-exclamation-circle:before, .rst-content .admonition-title:before, .wy-inline-validate.wy-inline-validate-info .wy-input-context:before, .wy-inline-validate.wy-inline-validate-warning .wy-input-context:before {
    content: "";
}

.document {
    text-align: justify;
}

.eqno {
    float:right;
}